* {margin:0; padding:0; box-sizing:border-box;}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    color: white;
    font-weight: bold;
}

footer {
    color: rgb(32, 30, 30);
}

h3 {
    text-align: center;
}

.animeInfo {
    display: flex;
    margin: 20px 20%;
}

.information {
    margin-left: 3%;
}

#imgAnimeInfo {
    height: 400px;
    width: 400px;
}

.page-header {
    background-image: url(../../image/anime_info.jpg);
}

::-webkit-scrollbar{
    filter: blur(3px);
    position: fixed;
    top: 0;
    right: 0;
    width: 16px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #008aff,#00ffe7) !important;
    border-radius: 50px; 
  }

/*****************************************************************************************************************************************************************************************/
/*BTN*/
/*****************************************************************************************************************************************************************************************/

.btn.btn-outline-info{background-color: #286091; color: #fff!important;}
.btn.btn-outline-info:hover{background-color: #1ea9ea; color: white !important;}
.btn-deco{background-color: #ca0c0c; color: #fff!important; border: .5px solid rgba(219, 219, 219, 0.493);}
.btn-deco:hover{background-color: #f51515; color: #fff!important;}
.btn-hidden{visibility: hidden;}

/*****************************************************************************************************************************************************************************************/
/*PARTS NAVBAR + SEARCH + HYPERTEXT*/
/*****************************************************************************************************************************************************************************************/

nav a {
    color: #0a6ebd !important;
    
}

nav a:hover {
    color: #6bb7f1 !important; 
}

nav a:visited{
    color: #0a6ebd !important; 
}
.result-dropdown div{
    border-bottom: 2px solid #417eb35b !important;
    font-size: 16px !important;
}

body a:hover {
    color: #6bb7f1 !important; 
}

a {color: #0a6ebd}

#deco{
    color: #dd4b39 !important;
    text-decoration: none;
    
}
  
#deco:hover{
    color: #fff !important;
    text-decoration: none;
    background-color: rgb(228, 55, 55);
}

.dropdown-item:hover{
    background-color: #286091 !important;
    color: #fff !important;
}

.nav-link{
    margin: 5px;
    
}
.nav-link, .dropdown-item {
   
    font-weight: bold;    
     
}

.nav-gif {
    border-radius: 10px;
    padding: 0 !important;
    margin: 0 !important;
    width: 150px !important;
    position: relative;
    margin-bottom: 10px !important;
}

.userNavBar{
    padding-right: 10px;
}

button.navbar-toggler.collapsed, button.navbar-toggler{
    background-color: #008bda;
}
.navbar .navbar-toggler .navbar-toggler-icon{background-color: #fff; height: 3px;}
.navbar-toggler{height: 50px; border-radius: 85%;}
i.material-icons{line-height: inherit !important; margin-top: inherit !important; font-size: 24px !important;}
.dropdown-menu-right {background-color: #201e1f !important;}

.dropdown-menu div .result-dropdown a:hover {
    background-color: transparent !important;
}
@media (max-width: 991px){
   .dropdown-toggle:after {
       left: 60px !important;
   }

   .dropdown-toggle {
    
    padding-top: 15px;
    height: 75px;
    width: 75px;
    bottom: 10px;
   }
}


/*****************************************************************************************************************************************************************************************/
/*PARTS FOOTER + FORM-CONTACT*/
/*****************************************************************************************************************************************************************************************/
@media screen and (max-width:600px){
    .form-input {
        width: 400px !important;
        height: 50px !important;
    }
}

.form-register, .form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .input .inputBox .btn, .form-input {

    width: 500px;
    height: 50px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: rgb(36, 33, 33);
    font-size: 18px;
    
    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.01),
                inset 2px 2px 6px rgba(0,0,0,0.8);
}

.form-input {
    margin-top: 20px;
}

footer {
    padding: 5em 0 5em;
}

.components-page .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.components-page .footer .btn i {
    color: #fff;
}

.footer a{font-size:1.47em; color:#2874c9;}
.space-footer{margin-left: 60px !important; text-align: center;}
.bottom-footer{margin-top: 50px;}

.sm_footer{
    background-color:#ea9352 !important;
    text-align: center;  
}

.sm_hidden{
    visibility: hidden;
}

.mini-footer{
    background: #286091; 
    border-top: solid 1px #fff;
}

footer {
    background-color: white !important;
    text-align: center;
}

.text-center-item { 
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: auto !important;
    margin-left: auto !important;
}

/* cookie */
.btncookie{
    
    
    color: #2168a7 !important;
    padding: 1em 0 1em;
    text-align: center;
    position: fixed;
    background-color: #10171bf5;
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 999999;
     /* visibility: hidden; */
}

@media screen and (max-width:600px){

    .txt_title{
      
      font-weight: 900 !important;
      line-height: 1em !important;
      color: #201e1e;
      text-transform: uppercase;
    }
    
    .yes-mobile{width: 50px; margin-bottom: 10px; background-image: url(../image/logo-mobile1.png); background-repeat: no-repeat; background-size: cover;}
    
    .img-map{width: 300px !important;}
  
    .footer a{font-size: 1.1em !important;}
  
    .btn-small-blanc{width: 20px !important;}
  
}