/*****************************************************************************************************************************************************************************************/
/*PARTS GENERAL*/
/*****************************************************************************************************************************************************************************************/

* {margin:0; padding:0; box-sizing:border-box;}

.bg-fff {
    color: #fff;
}

#typography h1,
#typography h2,
#typography h3,
#typography h4,
#typography h5,
#typography h6 {
  margin-bottom: 0;
  
}

.space {
    height: 130px;
    display: block;
}
  
.space-30 {
  
    height: 30px;
    display: block;
  
}
  
.space-20 {
  
    height: 20px;
    display: block;
  
}
  
.space-110 {
    height: 110px;
    display: block;
}
  
.space-50 {
  
    height: 60px !important;
    display: block;
}
  
.space-70 {
    height: 70px;
    display: block;
}

.parallax {
    width: 100%;
    height: 570px;
    display: block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.textarea{
    background-image: url(../../image/contact.gif);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
    height: 300px;
    width: 100%;
    color: #000;
    border: solid 1px #16202a;
    font-size: 24px;
}

.text-center-item { 
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: auto !important;
    margin-left: auto !important;  
}

::-webkit-scrollbar{
    filter: blur(3px);
    position: fixed;
    top: 0;
    right: 0;
    width: 16px;
}
  
::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #008aff,#00ffe7) !important;
    border-radius: 50px; 
}

.animate {
    transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -webkit-transition: 1.5s ease-in-out;
}

/*****************************************************************************************************************************************************************************************/
/*BTN*/
/*****************************************************************************************************************************************************************************************/

#buttons .btn {
    margin: 0 0px 15px;
}

.btn{
    color:rgb(237, 237, 243) !important;
    font-weight: 900;
    
    text-transform: uppercase;
}

.btn.btn-outline-info{background-color: #286091; color: #fff!important;}
.btn.btn-outline-info:hover{background-color: #1ea9ea; color: white !important;}
.btn-deco{background-color: #ca0c0c; color: #fff!important; border: .5px solid rgba(219, 219, 219, 0.493);}
.btn-deco:hover{background-color: #f51515; color: #fff!important;}

.btn-hidden{visibility: hidden;}

.nav-gif {

border-radius: 10px;
padding: 0 !important;
margin: 0 !important;
width: 150px !important;
position: relative;
margin-bottom: 10px !important;

}


/* cookie */
.btncookie{
    
    
  color: #2168a7 !important;
  padding: 1em 0 1em;
  text-align: center;
  position: fixed;
  background-color: #10171bf5;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 999999;
   /* visibility: hidden; */
}

.components-page .footer .btn i {
    color: #fff;
}

.section-components .pin-btn-img {
    left: 0%;
    top: 68%;
    height: 25px;
    border-radius: 3px;
}
  
.section-components .share-btn-img {
    left: 3%;
    top: -3%;
    height: 25px;
}

.section-components .table-img,
.section-components .share-btn-img,
.section-components .coloured-card-btn-img,
.section-components .coloured-card-img,
.section-components .social-img,
.section-components .pin-btn-img {
  position: absolute;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.social-buttons-demo .btn {
    /*margin-right: 5px;
      margin-bottom: 7px;*/
    margin: 10px 5px 7px 1px;
}

.sharing-area .btn {
    margin: 15px 4px 0;
    color: #FFFFFF;
}
  
.sharing-area .btn i {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.sharing-area .btn-twitter {
    background-color: #55acee;
}
  
.sharing-area .btn-twitter:active:focus {
    background-color: #55acee;
}
  
.sharing-area .btn-facebook {
    background-color: #3b5998;
}
  
.sharing-area .btn-facebook:active:focus {
    background-color: #3b5998;
}
  
.sharing-area .btn-google-plus {
    background-color: #dd4b39;
}
  
.sharing-area .btn-google-plus:active:focus {
    background-color: #dd4b39;
}
  
.sharing-area .btn-github {
    background-color: #333333;
}
  
.sharing-area .btn-github:active:focus {
    background-color: #333333;
}

.presentation .front,
.presentation .front:after,
.presentation .front .btn,
.logo-container .logo,
.logo-container .brand {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

#javascriptComponents .btn-raised {
    margin: 10px 0px;
}


@media (max-width: 768px) {
    .btn,
    .btn-morphing {
      margin-bottom: 10px;
    }
    .parallax .motto {
      top: 170px;
      margin-top: 0;
      font-size: 60px;
      width: 270px;
    }
}

@media (max-width: 991px) {
    .fixed-section.affix {
      position: relative;
      margin-bottom: 100px;
    }
    input {width: 250px !important;}
  
}

/*****************************************************************************************************************************************************************************************/
/*NAVBAR*/
/*****************************************************************************************************************************************************************************************/
.dropdown-menu-right {background-color: #201e1f !important;}

.navbar-default .logo-container .brand {
    color: #999999;
}
  
.navbar-transparent .logo-container .brand {
    color: #FFFFFF;
}

.navbar-small .logo-container .brand {
    color: #333333;
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}
  
.navbar-transparent.navbar-small .logo-container .brand {
    color: #FFFFFF;
}
  
.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}

#navbar .navbar {
    border-radius: 0;
}

@media (max-width:600px) {
	.navbar, nav{
        padding: 0 !important;
        margin: 0 !important;
        width: 100%;
    }
    #navbarNavDropdown {
        background-color: white;
        align-items: center;
        text-align: center;
        
        position: relative;
        width: 340px;
        padding: 0 !important;
        margin: 0 !important;
        border-radius: 1px;
        text-align: center;
        box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
                5px 5px 15px rgba(0,0,0,0.5);
        
    }
    .nav-link{
        
        color:  #3737a0d8!important;
    }

    .dropdown-item{
        text-align: center;
    }
    .navbar-toggler, .collapsed{
        
        margin: 10px;
    }

    .center{
        width: 100%;
    }

    

}


/* navbar */
.navbar, .navbar-nav {
    
    
    text-align: left !important;
    font-weight: 900 !important;
}
.nav-link{
    margin: 5px;
    
}
.nav-link, .dropdown-item {
   
    font-weight: bold;    
     
}
.dropdown-item:hover{
    background-color: #286091 !important;
    color: #fff !important;
}

button.navbar-toggler.collapsed, button.navbar-toggler{
    background-color: #008bda;
}

.btn{
    color:rgb(237, 237, 243) !important;
    font-weight: 900;
    
    text-transform: uppercase;
}

img{border-radius: 10px !important;}
.img_nav{
    width: 30%;
    border-radius: 100%;
}

.navbar .navbar-toggler .navbar-toggler-icon{background-color: #fff; height: 3px;}
.navbar-toggler{height: 50px; border-radius: 85%;}

.nav-gif {
    border-radius: 10px;
    padding: 0 !important;
    margin: 0 !important;
    width: 150px !important;
    position: relative;
    margin-bottom: 10px !important;
}

#deco{
    color: #dd4b39 !important;
    text-decoration: none;
    
}
  
#deco:hover{
    color: #fff !important;
    text-decoration: none;
    background-color: rgb(228, 55, 55);
}

.userNavBar{
    padding-right: 10px;
    
}

.search-overflow-y {
    overflow-y: scroll !important;
}
.dropdown-menu div .result-dropdown a:hover {
    background-color: transparent !important;
}
@media screen and (max-width: 992px){

    #check{
      box-shadow : none;
      width: 15%!important;
      height: 15px !important;
    }
    .embed-responsive{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      width: 100% ;
      
    }
  
    .dropdown-menu{box-shadow: none !important; border: solid 1px #2f2f3060 !important; width: 228px !important; overflow: scroll !important;}
    /* .dropdown-menu a:hover{background-color: transparent !important;} */
    .dropdown-item{color: #000 !important;}
    .nav-item::after{background-color: rgba(23, 98, 141, 0.589) !important;}
    .profile{
      width: 100%;
    }
  
    .corsaire-1-0 {width: 100%;}

    .dropdown-toggle {
    
        padding-top: 15px;
        height: 75px;
        width: 75px;
        bottom: 10px;
    }

    .navbar-collapse::after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #272727 !important;
        display: block;
        content: "";
        z-index: 1;
    }
    nav input{ width: 100% !important;}
    /* nav div{ width: 100% !important;} */
}

/*****************************************************************************************************************************************************************************************/
/*HEADER*/
/*****************************************************************************************************************************************************************************************/

.header-front {
    min-height: 50px !important;
    max-height: 50px !important;
}

.components-page .wrapper>.header,
.tutorial-page .wrapper>.header {
  height: 400px;
  padding-top: 100px;
  background-size: cover;
  background-position: center center;
}

.components-page .page-header:after {
    background: rgba(132, 13, 121, 0.88);
    background: linear-gradient(45deg, rgba(132, 13, 121, 0.88) 0%, rgba(208, 44, 180, 0.31) 100%);
    background: -moz-linear-gradient(135deg, rgba(132, 13, 121, 0.88) 0%, rgba(208, 44, 180, 0.31) 100%);
    background: -webkit-linear-gradient(135deg, rgba(132, 13, 121, 0.88) 0%, rgba(208, 44, 180, 0.31) 100%);
}
  
.components-page .page-header.header-filter:before {
    display: none;
}
  
.components-page .page-header .title-container {
    position: relative;
    z-index: 10;
}

.components-page .page-header {
    height: 100vh !important;
    min-height: auto !important;
}

/*****************************************************************************************************************************************************************************************/
/*BODY*/
/*****************************************************************************************************************************************************************************************/

body{ 
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    text-align: center;   
    font-weight: bold;
    font-size: 1em !important;   
}

.col-md-4 {
    margin-bottom: 150px;
}

.card img {
    max-height: 350px !important;
    width: auto !important;
    /* box-sizing: content-box; */
}

.card .content .main{

    background-color: inherit !important;
    box-shadow: none;
    padding: 10px 20px 20px;
}

.card-columns, .card, .card-body{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.card-projet{
  
  
    height: 350px;
    width: 300px;
    
    margin-top: 3em;
    margin-bottom: 1em;
    transition: 2s;
    box-shadow: #201d1d 15px 15px 50px;
  
}

.card-projet:before{
  
    content:'';
    position: absolute;
    top: -15px;
    left: 0;
    height: 15px;
    width: 100%;
    background: rgb(231, 226, 226);
    
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 2s;
  
}
  
.card-projet:after{
    
    content:'';
    position: absolute;
    top: -15px;
    left: -15px;
    height: 99%;
    width: 15px;
    background: rgb(231, 226, 226);
    transform-origin: left;
    
    transform: skewY(45deg);
    transition: 2s;
  
    
    
}
  
.card-projet:hover{transform: translateY(-30px);}
.card{color: #286091;}
.card p{text-align: left !important;}
.card h3{text-align: center !important; color: #fff !important;}

.animeInfo {
    color: white;
}

.info-general {
    display: flex;
}
  
.information {
    display: flex;
}

nav a {
    color: #0a6ebd !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
  
nav a:hover {
    color: #6bb7f1 !important; 
}
  
nav a:visited{
    color: #0a6ebd !important; 
}

.result-dropdown div{
    border-bottom: 2px solid #417eb35b !important;
}
  
body a:hover {
    color: #6bb7f1 !important; 
}

.front img{
    /* width: 300px; */
  min-height: 350px !important;
  max-width: 350px !important;
  
  box-sizing: content-box !important;
  /* width: 95%; */
}

.presentation .front,
.presentation .front:after,
.presentation .front .btn,
.logo-container .logo,
.logo-container .brand {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.content .main{
  
    padding: 10px;
    min-height: 350px !important;
    max-width: 350px !important;
    /* padding-right: 15px !important; */
    overflow-y: scroll;
    /* border: #55acee solid 2px !important; */
   /* cursor: url("../../image/scroll.png"), auto; */
    
  
}

@media (max-width: 830px) {
    .main-raised {
      margin-left: 10px;
      margin-right: 10px;
    }
}

/*****************************************************************************************************************************************************************************************/
/*PARTS FOOTER + FORM-CONTACT*/
/*****************************************************************************************************************************************************************************************/

.form-register, .form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .input .inputBox .btn, .form-input {
    width: 500px;
    height: 50px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: rgb(36, 33, 33);
    font-size: 18px;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.01),
                inset 2px 2px 6px rgba(0,0,0,0.8);
}

.form .input .inputBox .btn, label{
    display: block;
    color: #868686;
    margin-bottom: 5px;
    font-size: 18px;
}

.form .input .inputBox .btn input[type="submit"]{
    margin-top: 20px;
    box-shadow:  -2px -2px 6px rgba(255,255,255,0.01),
                 2px 2px 6px rgba(0,0,0,0.8); 
}
  
.form .input .inputBox .btn input[type="submit"]:active{
    color: #006c9c;
    margin-top: 20px;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.01),
                inset 2px 2px 6px rgba(0,0,0,0.8);
}

.form-input {
    margin-top: 20px;
}

.btn.btn-outline-info{background-color: #286091; color: #fff!important;}
.btn.btn-outline-info:hover{background-color: #1ea9ea; color: white !important;}

footer {
    padding: 5em 0 5em;
}

.components-page .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.components-page .footer .btn i {
    color: #fff;
}

.footer a{font-size:1.47em; color:#2874c9;}
.space-footer{margin-left: 60px !important; text-align: center;}
.bottom-footer{margin-top: 50px;}

.sm_footer{
    background-color:#ea9352 !important;
    text-align: center; 
}

.sm_hidden{
    visibility: hidden;
}

.mini-footer{
    background: #286091; 
    border-top: solid 1px #fff;
}

footer {
    background-color: white !important;
    text-align: center;
}

.text-center-item { 
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: auto !important;
    margin-left: auto !important;
}

@media screen and (max-width:600px){
    .form-input {
        width: 400px !important;
        height: 50px !important;
    }
}
/*****************************************************************************************************************************************************************************************/
/*doublon trouver + code inutil selon moi. A vérifier et a confirmer*/
/*****************************************************************************************************************************************************************************************/

/* @media screen and (max-width:600px){

    .txt_title{
      
      font-weight: 900 !important;
      line-height: 1em !important;
      color: #201e1e;
      text-transform: uppercase;
    }
    
    .yes-mobile{width: 50px; margin-bottom: 10px; background-image: url(../image/logo-mobile1.png); background-repeat: no-repeat; background-size: cover;}
    
  
    .img-map{width: 300px !important;}
  
    .footer a{font-size: 1.1em !important;}
  
    .btn-small-blanc{width: 20px !important;}

    .embed-responsive{
      margin-left: auto !important;
      margin-right: auto !important;
      margin-bottom: 30px;
      width: 100% !important;
      
      
    }
  
    textarea{
  
      height: auto !important;
      width: 250px !important;
  
    }
  
    iframe{
  
      width: 323.2px !important;
      height: 181.8px !important;
  
    }
    
    .svg{width: 15% !important;}
    .svg-two{width: 25% !important;}
  
} */